<html>
    <head>
        <title>Erfaan's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Erfaan Blog</a></h1>
        </div>
	{% for post in posts %}
  	  <div>
    	    <p>published: {{ post.published_date }}</p>
     	   <h2><a href="">{{ post.title }}</a></h2>
     	   <p>{{ post.text|linebreaksbr }}</p>
  	  </div>
	{% endfor %}
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>My sister is very dear, she loves me more than I can beer.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>My sister is now dearer than the previous jkslf</p>
        </div>
    </body>
</html>